@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0B10;
  --foreground: #F3F4F6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0A0B10;
}

::-webkit-scrollbar-thumb {
  background: #131620;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

::-webkit-scrollbar-thumb:hover {
  background: #9E0038;
}
